body,
label {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #072445;
}

table {
  width: 100%;
  justify-content: space-between;
}

td {
  padding: 15px;
}

input {
  text-transform: uppercase;
}

.father-email-input,
.mother-email-input,
.guardian-email-input {
  text-transform: lowercase;
}

.full-page,
.attach-table,
.student-details-table,
.family-detail-table {
  margin-left: auto;
  margin-right: auto;
}

/* Add other common styles here */

/* Your existing CSS rules */

/* Add media query for responsiveness here */
@media (max-width: 768px) {
  .student-details-table tr,
  .student-details-table td {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .student-details-table label {
    margin-bottom: 5px;
  }

  /* Add other responsive styles here */
}
