<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>

    <form
      class="form-entry-container"
      id="myForm"
      method="POST"
      enctype="multipart/form-data"
      action="/submit"
      onsubmit="return UndoDisables()"
    >
      <section class="logo">
        <div class="logo-container">
          <p>
            <img
              class="Airport-logo"
              src="../static/images/airport-school-logo.png"
              alt="logo"
            />
          </p>

          <hr style="border-top: 1px solid black" />
          <br />
          <p class="admission-form-text">Admission Form 2023-24</p>
        </div>
      </section>
      
      <fieldset class="photo-add-fieldset" style="padding-bottom: 20px">
        <legend class="photo-add-legend">Documents</legend>

        <div class="container-div" id="form-id-div">
          <label
            class="label"
            id="form-id-text"
            htmlFor="form-id-label"
          >
            Form ID <span style="color: red">* </span>
          </label>
          <input
            class="input"
            id="form-id-input"
            type="text"
            placeholder="Student's First Name"
            name="form-id"
            value="{{ data[0]}}"
            
          />
        </div>
        <div class="container-div" id="Date-div">
          <label
            class="label"
            id="Date-text"
            htmlFor="Date-label"
          >
            Date & Time<span style="color: red">* </span>
          </label>
          <input
            class="input"
            id="Date-input"
            type="text"
            placeholder="Student's First Name"
            name="Date"
            value="{{ data[1]}}"
            
          />
        </div>

        <div class="container-div" id="Password-div">
          <label
            class="label"
            id="Password-text"
            htmlFor="Password-label"
          >
            Password<span style="color: red">* </span>
          </label>
          <input
            class="input"
            id="Password-input"
            type="text"
            placeholder="Student's First Name"
            name="Password"
            value="{{ data[-1]}}"
            
          />
        </div>

        <div class="attach-main-div">
          <div class="father-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="father-file-label" htmlFor="">
                Father's Photo
              </label>
              <a href="{{data[4]}}"> <button type="button" class="btn btn-primary">Open</button></a>
            </p>
          </div>

          <div class="mother-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="mother-file-label" htmlFor="">
                Mother's Photo
              </label>

              <a href="{{data[5]}}"> <button type="button" class="btn btn-primary">Open</button></a>
            </p>
          </div>

          <div class="student-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="student-file-label" htmlFor="">
                Student's Photo
              </label>

              <a href="{{data[6]}}"> <button type="button" class="btn btn-primary">Open</button></a>
            </p>
          </div>

          <div class="adhaar-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="adhaar-file-label" htmlFor="">
                Adhaar's Photo
              </label>

              <a href="{{data[7]}}"> <button type="button" class="btn btn-primary">Open</button></a>
            </p>
          </div>

          <div class="birth-certificate-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="birth-certificate-file-label" htmlFor="">
                Birth Certificate's Photo
              </label>

              <a href="{{data[8]}}"> <button type="button" class="btn btn-primary">Open</button></a>
            </p>
          </div>
        </div>
      </fieldset>

      <fieldset class="student-details-fieldset" style="padding-bottom: 20px">
        <legend class="student-details-legend">Student Details</legend>

        <div class="student-details-main-div">
          <div class="container-div" id="student-first-name-div">
            <label
              class="label"
              id="student-first-name-text"
              htmlFor="student-first-name-label"
            >
              Student's First Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="student-first-name-input"
              type="text"
              placeholder="Student's First Name"
              name="student-first-name"
              value="{{ data[9]}}"
              
            />
          </div>

          <div class="container-div" id="student-last-name-div">
            <label
              class="label"
              id="student-last-name-text"
              htmlFor="student-last-name-label"
            >
              Student's Last Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="student-last-name-input"
              type="text"
              placeholder="Student's Last Name"
              name="student-last-name"
              value="{{ data[10]}}"
              
            />
          </div>

          <div class="container-div" id="aadhar-number-div">
            <label
              class="label"
              id="aadhar-number-text"
              htmlFor="aadhar-number-label"
            >
              Aadhar Number <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="aadhar-number-label"
              type="text"
              placeholder="Aadhar Number"
              name="aadhar-number"
              value="{{ data[11]}}"
              
            />
          </div>

          <div class="container-div" id="gender-div">
            <label class="label" id="gender-label" htmlFor="gender">
              Gender <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="gender-input"
              type="text"
              name="gender"
              placeholder="Gender"
              value="{{ data[12]}}"
              
            />
          </div>

          <div class="container-div" id="applied-for-div">
            <label class="label" id="applied-for-label" htmlFor="applied-for">
              Applied For <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="applied-for-input"
              name="applied-for"
              value="{{ data[13]}}"
              
            />
          </div>

          <div class="container-div" id="contact-number-div">
            <label
              class="label"
              id="contact-number-label"
              htmlFor="contact-number"
            >
              Contact Number <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="contact-number-select"
              name="contact-number"
              placeholder="Contact Number"
              value="{{ data[14]}}"
              
            />
          </div>

          <div class="container-div" id="place-of-birth-div">
            <label
              class="label"
              id="place-of-birth-label"
              htmlFor="place-of-birth"
            >
              Place of Birth <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="place-of-birth-select"
              name="place-of-birth"
              placeholder="Place of Birth"
              value="{{ data[15]}}"
              
            />
          </div>

          <div class="container-div" id="dob-div">
            <label class="label" id="dob-label" htmlFor="dob-input">
              Date of Birth <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="dob-input"
              type="date"
              name="dob"
              value="{{ data[16]}}"
              
            />
          </div>

          <div class="container-div" id="dob-inwords-div">
            <label
              class="label"
              id="dob-inwords-label"
              htmlFor="dob-inwords-input"
            >
              Date of Birth in Words <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="dob-inwords-input"
              type="text"
              name="dob-inwords"
              placeholder="Date of Birth in Words"
              value="{{ data[17]}}"
              
            />
          </div>

          <div class="container-div" id="ordinal-postional-div">
            <label
              class="label"
              id="ordinal-postional-text"
              htmlFor="ordinal-postional-label"
            >
              Ordinal Position Of The Child <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="ordinal-postional-label"
              type="text"
              placeholder="Ordinal Postional"
              name="ordinal-postional"
              value="{{ data[18]}}"
              
            />
          </div>

          <div class="container-div" id="bloodgroup-div">
            <label class="label" id="bloodgroup-label" htmlFor="bloodgroup">
              Blood Group <span style="color: red">* </span>
            </label>
            <select
              class="input"
              type="text"
              id="bloodgroup-select"
              name="bloodgroup"
              value="{{ data[19]}}"
              
            >
              <option value="A+">A+</option>
              <option value="B+">B+</option>
              <option value="O+">O+</option>
              <option value="AB+">AB+</option>
              <option value="A-">A-</option>
              <option value="B-">B-</option>
              <option value="O-">O-</option>
              <option value="AB-">AB-</option>
            </select>
          </div>

          <div class="container-div" id="category-div">
            <label class="label" id="category-label" htmlFor="category">
              Category <span style="color: red">* </span>
            </label>
            <input
              id="category-input"
              class="input"
              type="text"
              name="category"
              value="{{ data[20]}}"
              
            />
          </div>

          <!-- <div class="container-div" id="years-div">
            <label class="label" id="years-label" htmlFor="years">
              Years
            </label>
            <input class="input" id="years-input" type="text" name="years" />
          </div>

          <div class="container-div" id="manths-div">
            <label class="label" id="months-label" htmlFor="months">
              Months
            </label>
            <input class="input" id="months-input" type="text" name="months" />
          </div>

          <div class="container-div" id="days-div">
            <label class="label" id="days-label" htmlFor="days"> Days </label>
            <input class="input" id="days-input" type="text" name="days" />
          </div> -->

          <div class="container-div" id="nationality-div">
            <label class="label" id="nationality-label" htmlFor="nationality">
              Nationality <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="nationality-input"
              name="nationality"
              value="{{ data[21]}}"
              
            />
          </div>

          <div class="container-div" id="caste-div">
            <label class="label" id="caste-label" htmlFor="caste">
              Caste <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="caste-input"
              name="caste"
              value="{{ data[22]}}"
              
            />
          </div>

          <div class="container-div" id="religion-div">
            <label class="label" id="religion-label" htmlFor="religion">
              Religion <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="religion-input"
              name="religion"
              value="{{ data[23]}}"
              
            />
          </div>

          <!-- <div class="container-div" id="elective-subjects-div">
            <label
              class="label"
              id="elective-subjects-text"
              htmlFor="elective-subjects-label"
            >
              Elective Subjects <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="elective-subjects-input"
              type="text"
              placeholder="Elective Subjects "
              name="elective-subjects"
              required
            />
          </div>

          <div class="container-div" id="last-school-attended-div">
            <label
              class="label"
              id="last-school-attended-text"
              htmlFor="last-school-attended-label"
            >
              Last School Attended <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="last-school-attended-input"
              type="text"
              placeholder="Last School Attended "
              name="last-school-attended"
              required
            />
          </div> -->

          <div class="container-div" id="skills-div">
            <label class="label" id="skills-text" htmlFor="skills-label">
              Special Skills and Interests <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="skills-input"
              type="text"
              placeholder="Skills "
              name="skills"
              value="{{ data[24]}}"
              
            />
          </div>
        </div>
      </fieldset>

      <fieldset class="address-fieldset" style="padding-bottom: 20px">
        <legend class="address-legend">Address</legend>

        <div class="address-main-div">
          <div class="container-div" id="permanent-address-div">
            <label
              class="label"
              id="permanent-address-label"
              htmlFor="permanent-address-input"
            >
              Permanent Address <span style="color: red">* </span>
            </label>
            <textarea
              class="input"
              id="permanent-address-input"
              name="permanent-address"
              
            >
            {{data[25]}}
            </textarea>
          </div>

          <div class="container-div" id="permanent-taluka-div">
            <label
              class="label"
              id="permanent-taluka-label"
              htmlFor="permanent-taluka-input"
            >
              Taluka <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="permanent-taluka-input"
              name="permanent-taluka"
              name="permanent-taluka"
              value="{{ data[26]}}"
              
            />
          </div>

          <div class="container-div" id="permanent-district-div">
            <label class="label" id="permanent-district-label" htmlFor="">
              District <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="permanent-district-input"
              name="permanent-district"
              type="text"
              value="{{ data[27]}}"
              
            />
          </div>

          <div class="container-div" id="permanent-state-div">
            <label class="label" id="permanent-state-label" htmlFor="">
              State <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="permanent-state-select"
              name="permanent-state"
              value="{{ data[28]}}"
              
            />
          </div>

          <div class="container-div" id="permanent-pincode-div">
            <label
              class="label"
              id="permanent-pincode-label"
              htmlFor="permanent-pincode"
            >
              Pincode <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="permanent-pincode-input"
              name="permanent-pincode"
              name="permanent-pincode"
              value="{{ data[29]}}"
              
            />
          </div>

          <div class="container-div" id="permanent-country-div">
            <label
              class="label"
              id="permanent-country-label"
              htmlFor="permanent-country"
            >
              Country <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="permanent-country-input"
              name="permanent-country"
              name="permanent-country"
              value="{{ data[30]}}"
              
            />
          </div>

          <div class="container-div"></div>

          <div class="container-div" id="correspondance-address-div">
            <label
              class="label"
              id="correspondance-address-label"
              htmlFor="correspondance-address-input"
            >
              Correspondance Address <span style="color: red">* </span>
            </label>
            <textarea
              class="input"
              id="correspondance-address-input"
              name="correspondance-address"
              
            >
            {{data[31]}}
            </textarea>
          </div>

          <div class="container-div" id="correspondance-taluka-div">
            <label
              class="label"
              id="correspondance-taluka-label"
              htmlFor="correspondance-taluka-input"
            >
              Taluka <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="correspondance-taluka-input"
              name="correspondance-taluka"
              name="correspondance-taluka"
              value="{{ data[32]}}"
              
            />
          </div>

          <div class="container-div" id="correspondance-district-div">
            <label class="label" id="correspondance-district-label" htmlFor="">
              District <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="correspondance-district-input"
              name="correspondance-district"
              type="text"
              value="{{ data[33]}}"
              
            />
          </div>

          <div class="container-div" id="correspondance-state-div">
            <label class="label" id="correspondance-state-label" htmlFor="">
              State <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="correspondance-state-select"
              name="correspondance-state"
              value="{{ data[34]}}"
              
            >
          </div>

          <div class="container-div" id="correspondance-pincode-div">
            <label class="label" id="correspondance-pincode-label" htmlFor="">
              Pincode <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="correspondance-pincode-input"
              name="correspondance-pincode"
              name="correspondance-pincode"
              value="{{ data[35]}}"
              
            />
          </div>

          <div class="container-div" id="correspondance-country-div">
            <label
              class="label"
              id="correspondance-country-label"
              htmlFor="correspondance-country-input"
            >
              Country <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="correspondance-country-input"
              name="correspondance-country"
              name="correspondance-country"
              value="{{ data[36]}}"
              
            />
          </div>
          <div class="container-div"></div>
        </div>
      </fieldset>

      <fieldset class="parents-details-fieldset" style="padding-bottom: 20px">
        <legend class="parents-details-legend">Parents Details</legend>

        <div class="parents-details-main-div">
          <div class="container-div" id="father-name-div">
            <label class="label" id="father-name-label" htmlFor="father-name">
              Father's Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-name-input"
              type="text"
              id="father-name"
              placeholder="Father's Name"
              name="father-name"
              value="{{ data[37]}}"
              
            />
          </div>

          <div class="container-div" id="mother-name-div">
            <label class="label" id="mother-name-label" htmlFor="mother-name">
              Mother's Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-name-input"
              type="text"
              id="mother-name"
              placeholder="Mother's Name"
              name="mother-name"
              value="{{ data[38]}}"
              
            />
          </div>

          <div class="container-div" id="father-occupation-div">
            <label
              class="label"
              id="father-occupation-label"
              htmlFor="father-occupation"
            >
              Father's Occupation <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-occupation-input"
              type="text"
              id="father-occupation"
              placeholder="Occupation"
              name="father-occupation"
              value="{{ data[39]}}"
              
            />
          </div>

          <div class="container-div" id="mother-occupation-div">
            <label
              class="label"
              id="mother-occupation-label"
              htmlFor="mother-occupation"
            >
              Mother's Occupation <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-occupation-input"
              type="text"
              id="mother-occupation"
              placeholder="Occupation"
              name="mother-occupation"
              value="{{ data[40]}}"
              
            />
          </div>

          <div class="container-div" id="father-qualification-div">
            <label
              class="label"
              id="father-qualification-label"
              htmlFor="father-qualification"
            >
              Father's Qualification <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-qualification-input"
              type="text"
              id="father-qualification"
              placeholder="Qualification"
              name="father-qualification"
              value="{{ data[41]}}"
              
            />
          </div>

          <div class="container-div" id="mother-qualification-div">
            <label
              class="label"
              id="mother-qualification-label"
              htmlFor="mother-qualification"
            >
              Mother's Qualification <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-qualification-input"
              type="text"
              id="mother-qualification"
              placeholder="Qualification"
              name="mother-qualification"
              value="{{ data[42]}}"
              
            />
          </div>

          <div class="container-div" id="languages-known-div">
            <label
              class="label"
              id="languages-known-label"
              htmlFor="languages-known"
            >
              Languages Known <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="languages-known-input"
              type="text"
              id="languages-known"
              placeholder="Languages Known"
              name="languages-known-father"
              value="{{ data[43]}}"
              
            />
          </div>

          <div class="container-div" id="languages-known-div">
            <label
              class="label"
              id="languages-known-label"
              htmlFor="languages-known"
            >
              Languages Known <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="languages-known-input"
              type="text"
              id="languages-known"
              placeholder="Languages Known"
              name="languages-known-mother"
              value="{{ data[44]}}"
              
            />
          </div>

          <div class="container-div" id="business-services-div">
            <label
              class="label"
              id="business-services-label"
              htmlFor="business-services"
            >
              Business/Service <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-input"
              type="text"
              id="business-services"
              placeholder="Business/Service "
              name="business-services-father"
              value="{{ data[45]}}"
              
            />
          </div>

          <div class="container-div" id="business-services-div">
            <label
              class="label"
              id="business-services-label"
              htmlFor="business-services"
            >
              Business/Service <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-input"
              type="text"
              id="business-services"
              placeholder="Business/Service "
              name="business-services-mother"
              value="{{ data[46]}}"
              
            />
          </div>

          <div class="container-div" id="details-of-business-div">
            <label
              class="label"
              id="details-of-business-label"
              htmlFor="details-of-business"
            >
              Details Of Business <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="details-of-business-input"
              type="text"
              id="details-of-business"
              placeholder="Details Of Business "
              name="details-of-business-father"
              value="{{ data[47]}}"
              
            />
          </div>

          <div class="container-div" id="details-of-business-div">
            <label
              class="label"
              id="details-of-business-label"
              htmlFor="details-of-business"
            >
              Details Of Business <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="details-of-business-input"
              type="text"
              id="details-of-business"
              placeholder="Details Of Business "
              name="details-of-business-mother"
              value="{{ data[48]}}"
              
            />
          </div>

          <div class="container-div" id="designation-div">
            <label class="label" id="designation-label" htmlFor="designation">
              Designation (If in service)<span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="designation-input"
              type="text"
              id="designation"
              placeholder="Designation"
              name="designation-father"
              value="{{ data[49]}}"
              
            />
          </div>

          <div class="container-div" id="designation-div">
            <label class="label" id="designation-label" htmlFor="designation">
              Designation (If in service)<span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="designation-input"
              type="text"
              id="designation"
              placeholder="Designation"
              name="designation-mother"
              value="{{ data[50]}}"
              
            />
          </div>

          <div class="container-div" id="father-contact-div">
            <label
              class="label"
              id="father-contact-label"
              htmlFor="father-contact"
            >
              Father's Contact <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-contact-input"
              type="text"
              id="father-contact"
              placeholder="Contact"
              name="father-contact"
              value="{{ data[51]}}"
              
            />
          </div>

          <div class="container-div" id="mother-contact-div">
            <label
              class="label"
              id="mother-contact-label"
              htmlFor="mother-contact"
            >
              Mother's Contact <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-contact-input"
              type="text"
              id="mother-contact"
              placeholder="Contact"
              name="mother-contact"
              value="{{ data[52]}}"
              
            />
          </div>

          <div class="container-div" id="father-email-div">
            <label class="label" id="father-email-label" htmlFor="father-email">
              Father's Email <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="father-email"
              placeholder="Email"
              name="father-email"
              value="{{ data[53]}}"
              
            />
          </div>

          <div class="container-div" id="mother-email-div">
            <label class="label" id="mother-email-label" htmlFor="mother-email">
              Mother's Email <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="mother-email"
              placeholder="Email"
              name="mother-email"
              value="{{ data[54]}}"
              
            />
          </div>

          <div class="container-div" id="business-services-address-div">
            <label
              class="label"
              id="business-services-address-label"
              htmlFor="business-services-address"
            >
              Business/Service Address <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-address-input"
              type="text"
              id="business-services-address"
              placeholder="Business/Service Address "
              name="business-services-address-father"
              value="{{ data[55]}}"
              
            />
          </div>

          <div class="container-div" id="business-services-address-div">
            <label
              class="label"
              id="business-services-address-label"
              htmlFor="business-services-address"
            >
              Business/Service Address <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-address-input"
              type="text"
              id="business-services-address"
              placeholder="Business/Service Address "
              name="business-services-address-mother"
              value="{{ data[56]}}"
              
            />
          </div>

          <div class="container-div" id="family-annual-income-div">
            <label
              class="label"
              id="family-annual-income-label"
              htmlFor="family-annual-income"
            >
              Family Annual Income <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="family-annual-income-input"
              type="text"
              id="family-annual-income"
              placeholder="Income"
              name="family-annual-income"
              value="{{ data[57]}}"
              
            />
          </div>
          <div class="container-div"></div>
        </div>
      </fieldset>

      <fieldset class="guardian-details-fieldset" style="padding-bottom: 20px">
        <legend class="guardian-details-legend">Guardian Details</legend>

        <div class="guardian-details-main-div">
          <div class="container-div" id="guardian-name-div">
            <label
              class="label"
              id="guardian-name-label"
              htmlFor="guardian-name"
            >
              Guardian's Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="guardian-name-input"
              type="text"
              id="guardian-name"
              placeholder="Guardian's Name"
              name="guardian-name"
              value="{{ data[58]}}"
              
            />
          </div>

          <div class="container-div" id="relation-with-child-div">
            <label
              class="label"
              id="relation-with-child-label"
              htmlFor="relation-with-child-input"
            >
              Relation with child <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="relation-with-child-input"
              type="text"
              name="relation-with-child"
              placeholder="Relation with child"
              value="{{ data[59]}}"
              
            />
          </div>

          <div class="container-div" id="guardian-contact-div">
            <label
              class="label"
              id="guardian-contact-label"
              htmlFor="guardian-contact"
            >
              Guardian's Contact <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="guardian-contact-input"
              type="text"
              id="guardian-contact"
              placeholder="Contact"
              name="guardian-contact"
              value="{{ data[60]}}"
              
            />
          </div>
          <div class="container-div"></div>
        </div>
      </fieldset>

      <fieldset
        class="brother-sister-details-fieldset"
        style="padding-bottom: 20px"
      >
        <legend class="brother-sister-details-legend">
          Brother Sister Details
        </legend>

        <div class="brother-sister-details-main-div">
          <div class="container-div" id="full-name-div">
            <label class="label" id="full-name-label" htmlFor="full-name">
              Full Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="full-name-input"
              type="text"
              id="full-name"
              placeholder="Full Name"
              name="full-name1"
              value="{{ data[61]}}"
              
            />
          </div>

          <div class="container-div" id="class-division-div">
            <label
              class="label"
              id="class-division-label"
              htmlFor="class-division1"
            >
              Class Division <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="class-division-input"
              type="text"
              id="class-division"
              placeholder="Class Division"
              name="class-division1"
              value="{{ data[62]}}"
              
            />
          </div>

          <div class="container-div" id="full-name-div">
            <label class="label" id="full-name-label" htmlFor="full-name">
              Full Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="full-name-input"
              type="text"
              id="full-name"
              placeholder="Full Name"
              name="full-name2"
              value="{{ data[63]}}"
              
            />
          </div>

          <div class="container-div" id="class-division-div">
            <label
              class="label"
              id="class-division-label"
              htmlFor="class-division"
            >
              Class Division <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="class-division-input"
              type="text"
              id="class-division"
              placeholder="Class Division"
              name="class-division2"
              value="{{ data[64]}}"
              
            />
          </div>

          <div class="container-div" id="full-name-div">
            <label class="label" id="full-name-label" htmlFor="full-name">
              Full Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="full-name-input"
              type="text"
              id="full-name"
              placeholder="Full Name"
              name="full-name3"
              value="{{ data[65]}}"
              
            />
          </div>

          <div class="container-div" id="class-division-div">
            <label
              class="label"
              id="class-division-label"
              htmlFor="class-division"
            >
              Class Division <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="class-division-input"
              type="text"
              id="class-division"
              placeholder="Class Division"
              name="class-division3"
              value="{{ data[66]}}"
              
            />
          </div>
        </div>
      </fieldset>
      <fieldset class="declaration-fieldset" style="padding-bottom: 20px">
          <div class="container-div" style="flex: 1 calc(100% - 40px); margin: 20px 20px 12px 47%; width: calc(100% - 20px);">
            <button class="submit-button" type="submit" >Download</button>
          </div>

      </fieldset>
    </form>
  </body>
  <script src="../static/scripts/script.js"></script>
</html>
