<!DOCTYPE html>
<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/css/forgot_password.css" />
  </head>
  <body>
    <h1>Forgot Password</h1>
    <form action="/send-otp" method="POST" >
      <label for="username">Form ID:</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter Form ID"
        value="{{data[0]}}"
        required
      />
      <input type="button" id="sendOTP" name="action" value="Send OTP" onclick="sendUsernameToFlask()" />

      <label for="otp">OTP:</label>
      <input
        type="text"
        id="otp"
        name="otp"
        placeholder="Enter OTP"
        required
    
      />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter Your New Password"
        required
    
      />
      <label for="confirm_password">Confirm Password:</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        placeholder="Confirm Your Password"
        required
    
      />
      <input
        type="submit"
        id="submitButton"
        name="action"
        value="Submit"
    
      />
    </form>
  </body>
  <script src="/static/scripts/forgot_password.js"></script>
</html>
