<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="https://checkout.razorpay.com/v1/razorpay.js"></script>
  </head>

  <body>
    <div class="image">
      <img
        class="hero-img"
        src="\static\images\hero.jpg"
        alt="admissions"
        style="width: 100%"
      />
    </div>

    <form
      class="form-entry-container"
      id="myForm"
      method="POST"
      enctype="multipart/form-data"
      action="/submit"
      onsubmit="return UndoDisables()"
    >
      <section class="logo">
        <div class="logo-container">
          <p>
            <img
              class="Airport-logo"
              src="../static/images/airport-school-logo.png"
              alt="logo"
            />
          </p>

          <hr style="border-top: 1px solid black" />
          <br />
          <p class="admission-form-text">Admission Form 2023-24</p>
        </div>
      </section>

      <fieldset class="photo-add-fieldset" style="padding-bottom: 20px">
        <legend class="photo-add-legend">Documents</legend>

        <div class="attach-main-div">
          <div class="father-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="father-file-label" htmlFor="">
                Father's Photo
              </label>
              <input
                type="file"
                name="father-image"
                class="father-file-input"
                required
              />
            </p>
          </div>

          <div class="mother-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="mother-file-label" htmlFor="">
                Mother's Photo
              </label>

              <input
                type="file"
                name="mother-image"
                class="mother-file-input"
                required
              />
            </p>
          </div>

          <div class="student-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="student-file-label" htmlFor="">
                Student's Photo
              </label>

              <input
                type="file"
                name="student-image"
                class="student-file-input"
                required
              />
            </p>
          </div>

          <div class="adhaar-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="adhaar-file-label" htmlFor="">
                Adhaar's Photo
              </label>

              <input
                type="file"
                name="adhaar-image"
                class="adhaar-file-input"
                required
              />
            </p>
          </div>

          <div class="birth-certificate-file-add">
            <p>
              <img src="static\images\dummy.jpg" width="131px" height="125px" />
            </p>
            <p>
              <label class="birth-certificate-file-label" htmlFor="">
                Birth Certificate's Photo
              </label>

              <input
                type="file"
                name="birth-certificate-image"
                class="birth-certificate-file-input"
                required
              />
            </p>
          </div>
        </div>
      </fieldset>

      <fieldset class="student-details-fieldset" style="padding-bottom: 20px">
        <legend class="student-details-legend">Student Details</legend>

        <div class="student-details-main-div">
          <div class="container-div" id="student-first-name-div">
            <label
              class="label"
              id="student-first-name-text"
              htmlFor="student-first-name-label"
            >
              Student's First Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="student-first-name-input"
              type="text"
              placeholder="Student's First Name"
              name="student-first-name"
              required
            />
          </div>

          <div class="container-div" id="student-last-name-div">
            <label
              class="label"
              id="student-last-name-text"
              htmlFor="student-last-name-label"
            >
              Student's Last Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="student-last-name-input"
              type="text"
              placeholder="Student's Last Name"
              name="student-last-name"
              required
            />
          </div>

          <div class="container-div" id="aadhar-number-div">
            <label
              class="label"
              id="aadhar-number-text"
              htmlFor="aadhar-number-label"
            >
              Aadhar Number <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="aadhar-number-label"
              type="text"
              placeholder="Aadhar Number"
              name="aadhar-number"
              required
            />
          </div>

          <div class="container-div" id="gender-div">
            <label class="label" id="gender-label" htmlFor="gender">
              Gender <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="gender-input"
              type="text"
              name="gender"
              placeholder="Gender"
              required
            />
          </div>

          <div class="container-div" id="applied-for-div">
            <label class="label" id="applied-for-label" htmlFor="applied-for">
              Applied For <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="applied-for-input"
              name="applied-for"
              value="Nursery"
              disabled
              required
            />
          </div>

          <div class="container-div" id="contact-number-div">
            <label
              class="label"
              id="contact-number-label"
              htmlFor="contact-number"
            >
              Contact Number <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="contact-number-select"
              name="contact-number"
              placeholder="Contact Number"
              required
            />
          </div>

          <div class="container-div" id="place-of-birth-div">
            <label
              class="label"
              id="place-of-birth-label"
              htmlFor="place-of-birth"
            >
              Place of Birth <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="place-of-birth-select"
              name="place-of-birth"
              placeholder="Place of Birth"
              required
            />
          </div>

          <div class="container-div" id="dob-div">
            <label class="label" id="dob-label" htmlFor="dob-input">
              Date of Birth <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="dob-input"
              type="date"
              name="dob"
              required
            />
          </div>

          <div class="container-div" id="dob-inwords-div">
            <label
              class="label"
              id="dob-inwords-label"
              htmlFor="dob-inwords-input"
            >
              Date of Birth in Words <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="dob-inwords-input"
              type="text"
              name="dob-inwords"
              required
            />
          </div>

          <div class="container-div" id="ordinal-postional-div">
            <label
              class="label"
              id="ordinal-postional-text"
              htmlFor="ordinal-postional-label"
            >
              Ordinal Position Of The Child <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="ordinal-postional-label"
              type="text"
              placeholder="Ordinal Postional"
              name="ordinal-postional"
              required
            />
          </div>

          <div class="container-div" id="bloodgroup-div">
            <label class="label" id="bloodgroup-label" htmlFor="bloodgroup">
              Blood Group <span style="color: red">* </span>
            </label>
            <select
              class="input"
              type="text"
              id="bloodgroup-select"
              name="bloodgroup"
              required
            >
              <option value="A+">A+</option>
              <option value="B+">B+</option>
              <option value="O+">O+</option>
              <option value="AB+">AB+</option>
              <option value="A-">A-</option>
              <option value="B-">B-</option>
              <option value="O-">O-</option>
              <option value="AB-">AB-</option>
            </select>
          </div>

          <div class="container-div" id="category-div">
            <label class="label" id="category-label" htmlFor="category">
              Category <span style="color: red">* </span>
            </label>
            <input
              id="category-input"
              type="radio"
              name="category"
              value="gen"
              required
            />
            <label htmlFor="gen">Gen</label>
            <input
              id="category-input"
              type="radio"
              name="category"
              value="sc"
              required
            />
            <label htmlFor="sc">SC</label>
            <input
              id="category-input"
              type="radio"
              name="category"
              value="st"
              required
            />
            <label htmlFor="st">ST</label>
            <input
              id="category-input"
              type="radio"
              name="category"
              value="obc"
              required
            />
            <label htmlFor="obc">OBC</label>
          </div>

          <!-- <div class="container-div" id="years-div">
            <label class="label" id="years-label" htmlFor="years">
              Years
            </label>
            <input class="input" id="years-input" type="text" name="years" />
          </div>

          <div class="container-div" id="manths-div">
            <label class="label" id="months-label" htmlFor="months">
              Months
            </label>
            <input class="input" id="months-input" type="text" name="months" />
          </div>

          <div class="container-div" id="days-div">
            <label class="label" id="days-label" htmlFor="days"> Days </label>
            <input class="input" id="days-input" type="text" name="days" />
          </div> -->

          <div class="container-div" id="nationality-div">
            <label class="label" id="nationality-label" htmlFor="nationality">
              Nationality <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="nationality-input"
              name="nationality"
              required
            />
          </div>

          <div class="container-div" id="caste-div">
            <label class="label" id="caste-label" htmlFor="caste">
              Caste <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="caste-input"
              name="caste"
              required
            />
          </div>

          <div class="container-div" id="religion-div">
            <label class="label" id="religion-label" htmlFor="religion">
              Religion <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="religion-input"
              name="religion"
              required
            />
          </div>

          <!-- <div class="container-div" id="elective-subjects-div">
            <label
              class="label"
              id="elective-subjects-text"
              htmlFor="elective-subjects-label"
            >
              Elective Subjects <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="elective-subjects-input"
              type="text"
              placeholder="Elective Subjects "
              name="elective-subjects"
              required
            />
          </div>

          <div class="container-div" id="last-school-attended-div">
            <label
              class="label"
              id="last-school-attended-text"
              htmlFor="last-school-attended-label"
            >
              Last School Attended <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="last-school-attended-input"
              type="text"
              placeholder="Last School Attended "
              name="last-school-attended"
              required
            />
          </div> -->

          <div class="container-div" id="skills-div">
            <label class="label" id="skills-text" htmlFor="skills-label">
              Special Skills and Interests <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="skills-input"
              type="text"
              placeholder="Skills "
              name="skills"
              required
            />
          </div>
        </div>
      </fieldset>

      <fieldset class="address-fieldset" style="padding-bottom: 20px">
        <legend class="address-legend">Address</legend>

        <div class="address-main-div">
          <div class="container-div" id="permanent-address-div">
            <label
              class="label"
              id="permanent-address-label"
              htmlFor="permanent-address-input"
            >
              Permanent Address <span style="color: red">* </span>
            </label>
            <textarea
              class="input"
              id="permanent-address-input"
              name="permanent-address"
              required
            >
            </textarea>
          </div>

          <div class="container-div" id="permanent-taluka-div">
            <label
              class="label"
              id="permanent-taluka-label"
              htmlFor="permanent-taluka-input"
            >
              Taluka <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="permanent-taluka-input"
              name="permanent-taluka"
              name="permanent-taluka"
              required
            />
          </div>

          <div class="container-div" id="permanent-district-div">
            <label class="label" id="permanent-district-label" htmlFor="">
              District <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="permanent-district-input"
              name="permanent-district"
              type="text"
              required
            />
          </div>

          <div class="container-div" id="permanent-state-div">
            <label class="label" id="permanent-state-label" htmlFor="">
              State <span style="color: red">* </span>
            </label>
            <select
              class="input"
              id="permanent-state-select"
              name="permanent-state"
              required
            >
              <option value="Gujarat">Gujarat</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Telangana">Telangana</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Bihar">Bihar</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Odisha">Odisha</option>
              <option value="West Bengal">West Bengal</option>
              <option value="Assam">Assam</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Manipur">Manipur</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Tripura">Tripura</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Delhi">Delhi</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Andaman and Nicobar Islands">
                Andaman and Nicobar Islands
              </option>
              <option value="Dadra and Nagar Haveli and Daman and Diu">
                Daman and Diu
              </option>
              <option value="Ladakh">Ladakh</option>
              <option value="Lakshadweep">Lakshadweep</option>
            </select>
          </div>

          <div class="container-div" id="permanent-pincode-div">
            <label
              class="label"
              id="permanent-pincode-label"
              htmlFor="permanent-pincode"
            >
              Pincode <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="permanent-pincode-input"
              name="permanent-pincode"
              name="permanent-pincode"
              required
            />
          </div>

          <div class="container-div" id="permanent-country-div">
            <label
              class="label"
              id="permanent-country-label"
              htmlFor="permanent-country"
            >
              Country <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="permanent-country-input"
              name="permanent-country"
              name="permanent-country"
              required
            />
          </div>

          <div class="container-div"></div>

          <div class="container-div" id="same-as permanent-address-div">
            <label
              class="label"
              id="same-as-permanent-address-label"
              htmlFor=""
            >
              Same as permanent address
            </label>
            <input type="checkbox" id="same-as-permanent-address-check" />
          </div>

          <div class="container-div" id="correspondance-address-div">
            <label
              class="label"
              id="correspondance-address-label"
              htmlFor="correspondance-address-input"
            >
              Correspondance Address <span style="color: red">* </span>
            </label>
            <textarea
              class="input"
              id="correspondance-address-input"
              name="correspondance-address"
              required
            >
            </textarea>
          </div>

          <div class="container-div" id="correspondance-taluka-div">
            <label
              class="label"
              id="correspondance-taluka-label"
              htmlFor="correspondance-taluka-input"
            >
              Taluka <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="correspondance-taluka-input"
              name="correspondance-taluka"
              name="correspondance-taluka"
              required
            />
          </div>

          <div class="container-div" id="correspondance-district-div">
            <label class="label" id="correspondance-district-label" htmlFor="">
              District <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="correspondance-district-input"
              name="correspondance-district"
              type="text"
              required
            />
          </div>

          <div class="container-div" id="correspondance-state-div">
            <label class="label" id="correspondance-state-label" htmlFor="">
              State <span style="color: red">* </span>
            </label>
            <select
              class="input"
              id="correspondance-state-select"
              name="correspondance-state"
              required
            >
              <option value="Gujarat">Gujarat</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Telangana">Telangana</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Bihar">Bihar</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Odisha">Odisha</option>
              <option value="West Bengal">West Bengal</option>
              <option value="Assam">Assam</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Manipur">Manipur</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Tripura">Tripura</option>
              <option value="Jammu and Kashmir">Jammu and Kashmir</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Delhi">Delhi</option>
              <option value="Puducherry">Puducherry</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Andaman and Nicobar Islands">
                Andaman and Nicobar Islands
              </option>
              <option value="Dadra and Nagar Haveli and Daman and Diu">
                Daman and Diu
              </option>
              <option value="Ladakh">Ladakh</option>
              <option value="Lakshadweep">Lakshadweep</option>
            </select>
          </div>

          <div class="container-div" id="correspondance-pincode-div">
            <label class="label" id="correspondance-pincode-label" htmlFor="">
              Pincode <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="correspondance-pincode-input"
              name="correspondance-pincode"
              required
            />
          </div>

          <div class="container-div" id="correspondance-country-div">
            <label
              class="label"
              id="correspondance-country-label"
              htmlFor="correspondance-country-input"
            >
              Country <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="correspondance-country-input"
              name="correspondance-country"
              name="correspondance-country"
              required
            />
          </div>
          <div class="container-div"></div>
        </div>
      </fieldset>

      <fieldset class="parents-details-fieldset" style="padding-bottom: 20px">
        <legend class="parents-details-legend">Parents Details</legend>

        <div class="parents-details-main-div">
          <div class="container-div" id="father-name-div">
            <label class="label" id="father-name-label" htmlFor="father-name">
              Father's Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-name-input"
              type="text"
              id="father-name"
              placeholder="Father's Name"
              name="father-name"
              required
            />
          </div>

          <div class="container-div" id="mother-name-div">
            <label class="label" id="mother-name-label" htmlFor="mother-name">
              Mother's Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-name-input"
              type="text"
              id="mother-name"
              placeholder="Mother's Name"
              name="mother-name"
              required
            />
          </div>

          <div class="container-div" id="father-occupation-div">
            <label
              class="label"
              id="father-occupation-label"
              htmlFor="father-occupation"
            >
              Father's Occupation <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-occupation-input"
              type="text"
              id="father-occupation"
              placeholder="Occupation"
              name="father-occupation"
              required
            />
          </div>

          <div class="container-div" id="mother-occupation-div">
            <label
              class="label"
              id="mother-occupation-label"
              htmlFor="mother-occupation"
            >
              Mother's Occupation <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-occupation-input"
              type="text"
              id="mother-occupation"
              placeholder="Occupation"
              name="mother-occupation"
              required
            />
          </div>

          <div class="container-div" id="father-qualification-div">
            <label
              class="label"
              id="father-qualification-label"
              htmlFor="father-qualification"
            >
              Father's Qualification <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-qualification-input"
              type="text"
              id="father-qualification"
              placeholder="Qualification"
              name="father-qualification"
              required
            />
          </div>

          <div class="container-div" id="mother-qualification-div">
            <label
              class="label"
              id="mother-qualification-label"
              htmlFor="mother-qualification"
            >
              Mother's Qualification <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-qualification-input"
              type="text"
              id="mother-qualification"
              placeholder="Qualification"
              name="mother-qualification"
              required
            />
          </div>

          <div class="container-div" id="languages-known-div">
            <label
              class="label"
              id="languages-known-label"
              htmlFor="languages-known"
            >
              Languages Known <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="languages-known-input"
              type="text"
              id="languages-known"
              placeholder="Languages Known"
              name="languages-known-father"
              required
            />
          </div>

          <div class="container-div" id="languages-known-div">
            <label
              class="label"
              id="languages-known-label"
              htmlFor="languages-known"
            >
              Languages Known <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="languages-known-input"
              type="text"
              id="languages-known"
              placeholder="Languages Known"
              name="languages-known-mother"
              required
            />
          </div>

          <div class="container-div" id="business-services-div">
            <label
              class="label"
              id="business-services-label"
              htmlFor="business-services"
            >
              Business/Service <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-input"
              type="text"
              id="business-services"
              placeholder="Business/Service "
              name="business-services-father"
              required
            />
          </div>

          <div class="container-div" id="business-services-div">
            <label
              class="label"
              id="business-services-label"
              htmlFor="business-services"
            >
              Business/Service <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-input"
              type="text"
              id="business-services"
              placeholder="Business/Service "
              name="business-services-mother"
              required
            />
          </div>

          <div class="container-div" id="details-of-business-div">
            <label
              class="label"
              id="details-of-business-label"
              htmlFor="details-of-business"
            >
              Details Of Business <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="details-of-business-input"
              type="text"
              id="details-of-business"
              placeholder="Details Of Business "
              name="details-of-business-father"
              required
            />
          </div>

          <div class="container-div" id="details-of-business-div">
            <label
              class="label"
              id="details-of-business-label"
              htmlFor="details-of-business"
            >
              Details Of Business <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="details-of-business-input"
              type="text"
              id="details-of-business"
              placeholder="Details Of Business "
              name="details-of-business-mother"
              required
            />
          </div>

          <div class="container-div" id="designation-div">
            <label class="label" id="designation-label" htmlFor="designation">
              Designation (If in service)<span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="designation-input"
              type="text"
              id="designation"
              placeholder="Designation"
              name="designation-father"
              required
            />
          </div>

          <div class="container-div" id="designation-div">
            <label class="label" id="designation-label" htmlFor="designation">
              Designation (If in service)<span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="designation-input"
              type="text"
              id="designation"
              placeholder="Designation"
              name="designation-mother"
              required
            />
          </div>

          <div class="container-div" id="father-contact-div">
            <label
              class="label"
              id="father-contact-label"
              htmlFor="father-contact"
            >
              Father's Contact <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="father-contact-input"
              type="text"
              id="father-contact"
              placeholder="Contact"
              name="father-contact"
              required
            />
          </div>

          <div class="container-div" id="mother-contact-div">
            <label
              class="label"
              id="mother-contact-label"
              htmlFor="mother-contact"
            >
              Mother's Contact <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="mother-contact-input"
              type="text"
              id="mother-contact"
              placeholder="Contact"
              name="mother-contact"
              required
            />
          </div>

          <div class="container-div" id="father-email-div">
            <label class="label" id="father-email-label" htmlFor="father-email">
              Father's Email <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="father-email"
              placeholder="Email"
              name="father-email"
              required
            />
          </div>

          <div class="container-div" id="mother-email-div">
            <label class="label" id="mother-email-label" htmlFor="mother-email">
              Mother's Email <span style="color: red">* </span>
            </label>
            <input
              class="input"
              type="text"
              id="mother-email"
              placeholder="Email"
              name="mother-email"
              required
            />
          </div>

          <div class="container-div" id="business-services-address-div">
            <label
              class="label"
              id="business-services-address-label"
              htmlFor="business-services-address"
            >
              Business/Service Address <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-address-input"
              type="text"
              id="business-services-address"
              placeholder="Business/Service Address "
              name="business-services-address-father"
              required
            />
          </div>

          <div class="container-div" id="business-services-address-div">
            <label
              class="label"
              id="business-services-address-label"
              htmlFor="business-services-address"
            >
              Business/Service Address <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="business-services-address-input"
              type="text"
              id="business-services-address"
              placeholder="Business/Service Address "
              name="business-services-address-mother"
              required
            />
          </div>

          <div class="container-div" id="family-annual-income-div">
            <label
              class="label"
              id="family-annual-income-label"
              htmlFor="family-annual-income"
            >
              Family Annual Income <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="family-annual-income-input"
              type="text"
              id="family-annual-income"
              placeholder="Income"
              name="family-annual-income"
              required
            />
          </div>
          <div class="container-div"></div>
        </div>
      </fieldset>

      <fieldset class="guardian-details-fieldset" style="padding-bottom: 20px">
        <legend class="guardian-details-legend">Guardian Details</legend>

        <div class="guardian-details-main-div">
          <div class="container-div" id="guardian-name-div">
            <label
              class="label"
              id="guardian-name-label"
              htmlFor="guardian-name"
            >
              Guardian's Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="guardian-name-input"
              type="text"
              id="guardian-name"
              placeholder="Guardian's Name"
              name="guardian-name"
              required
            />
          </div>

          <div class="container-div" id="relation-with-child-div">
            <label
              class="label"
              id="relation-with-child-label"
              htmlFor="relation-with-child-input"
            >
              Relation with child <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="relation-with-child-input"
              type="text"
              name="relation-with-child"
              placeholder="Relation with child"
              required
            />
          </div>

          <div class="container-div" id="guardian-contact-div">
            <label
              class="label"
              id="guardian-contact-label"
              htmlFor="guardian-contact"
            >
              Guardian's Contact <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="guardian-contact-input"
              type="text"
              id="guardian-contact"
              placeholder="Contact"
              name="guardian-contact"
              required
            />
          </div>
          <div class="container-div"></div>
        </div>
      </fieldset>

      <fieldset
        class="brother-sister-details-fieldset"
        style="padding-bottom: 20px"
      >
        <legend class="brother-sister-details-legend">
          Brother Sister Details
        </legend>

        <div class="brother-sister-details-main-div">
          <div class="container-div" id="full-name-div">
            <label class="label" id="full-name-label" htmlFor="full-name">
              Full Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="full-name-input"
              type="text"
              id="full-name"
              placeholder="Full Name"
              name="full-name1"
              required
            />
          </div>

          <div class="container-div" id="class-division-div">
            <label
              class="label"
              id="class-division-label"
              htmlFor="class-division1"
            >
              Class Division <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="class-division-input"
              type="text"
              id="class-division"
              placeholder="Class Division"
              name="class-division1"
              required
            />
          </div>

          <div class="container-div" id="full-name-div">
            <label class="label" id="full-name-label" htmlFor="full-name">
              Full Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="full-name-input"
              type="text"
              id="full-name"
              placeholder="Full Name"
              name="full-name2"
              required
            />
          </div>

          <div class="container-div" id="class-division-div">
            <label
              class="label"
              id="class-division-label"
              htmlFor="class-division"
            >
              Class Division <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="class-division-input"
              type="text"
              id="class-division"
              placeholder="Class Division"
              name="class-division2"
              required
            />
          </div>

          <div class="container-div" id="full-name-div">
            <label class="label" id="full-name-label" htmlFor="full-name">
              Full Name <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="full-name-input"
              type="text"
              id="full-name"
              placeholder="Full Name"
              name="full-name3"
              required
            />
          </div>

          <div class="container-div" id="class-division-div">
            <label
              class="label"
              id="class-division-label"
              htmlFor="class-division"
            >
              Class Division <span style="color: red">* </span>
            </label>
            <input
              class="input"
              id="class-division-input"
              type="text"
              id="class-division"
              placeholder="Class Division"
              name="class-division3"
              required
            />
          </div>
        </div>
      </fieldset>

      <fieldset class="declaration-fieldset" style="padding-bottom: 20px">
        <legend class="declaration-legend">Declaration</legend>

        <div class="declaration-main-div">
          <div class="container-div" id="declaration1">
            <label class="label" id="declaration1-label" htmlFor="">
              We certify that all information stated by us in this form, to the
              best of our knowledge, is correct and we agree that if any
              information is found incorrect after admission of our child, the
              institution at its discretion can cancel the admission and we
              shall not take any objection in any manner whatsoever.
              <span style="color: red">* </span>
            </label>
            <input type="checkbox" id="declaration1-check" required />
          </div>

          <div class="container-div" id="declaration2">
            <label class="label" id="declaration2-label" htmlFor="">
              We assure you that our child is physically and mentally normal. We
              shall here by observe the rules, regulations and discipline of the
              school.
              <span style="color: red">* </span>
            </label>
            <input type="checkbox" id="declaration2-check" required />
          </div>

          <div class="container-div">
            <button
              class="submit-button"
              onclick="initiatePayment()"
              type="button"
            >
              Submit
            </button>
          </div>
        </div>
      </fieldset>
    </form>
  </body>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    function initiatePayment() {
      var options = {
        "key": "rzp_test_lyOBYt8zORJUiJ", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Acme Corp", //your business name
        "description": "Test Transaction",
        // "image": "./static/images/school_logo.png",
        "order_id": "order_9A33XWu170gUtm", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          // Handle successful payment
          alert("Payment successful: " + response.razorpay_payment_id);
          // Submit the form only if payment is successful
          document.getElementById("myForm").submit();
        },
        "prefill": {
          "name": "John Doe",
          "email": "john@example.com",
          "contact": "9999999999",
        },
        "notes": {
          "address": "Razorpay Corporate Office",
        },
        "theme": {
          "color": "#F37254",
        },
      };
      var rzp = new Razorpay(options);
      rzp.open();
      // e.preventDefault();
    }
  </script>
  <script src="../static/scripts/script.js"></script>
</html>
