<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <link rel="stylesheet" href="static/css/admin.css" type="text/css" />
  </head>
  <body>
    <h1>Selected Students Data</h1>

    <form
      action="/delete"
      method="POST"
      onsubmit="return confirm('Are you sure you want to Continue?')"
    >
      <table id="admin-table">
        <tr>
          <th>
            <input
              type="checkbox"
              id="selectAll"
              onclick="selectAllCheckboxes()"
            />
          </th>
          <th>
            <div>
              Form ID
              <span class="sort-icon up" onclick="sortTable(1,'up')"
                >&#9650;</span
              >
              <span class="sort-icon down active" onclick="sortTable(1, 'down')"
                >&#9660;</span
              >
            </div>
          </th>
          <th>
            <div>
              Interview Date
              <span class="sort-icon up" onclick="sortTable(1,'up')"
                >&#9650;</span
              >
              <span class="sort-icon down active" onclick="sortTable(1, 'down')"
                >&#9660;</span
              >
            </div>
          </th>
          <th>
            <div>
              Date & Time
              <span class="sort-icon up" onclick="sortTable(1,'up')"
                >&#9650;</span
              >
              <span class="sort-icon down active" onclick="sortTable(1, 'down')"
                >&#9660;</span
              >
            </div>
          </th>
          <th>
            <div>
              First Name
              <span class="sort-icon up" onclick="sortTable(2, 'up')"
                >&#9650;</span
              >
              <span class="sort-icon down active" onclick="sortTable(2, 'down')"
                >&#9660;</span
              >
            </div>
          </th>
          <th>
            Last Name
            <span class="sort-icon up" onclick="sortTable(3, 'up')"
              >&#9650;</span
            >
            <span class="sort-icon down active" onclick="sortTable(3, 'down')"
              >&#9660;</span
            >
          </th>
          <th>
            Gender
            <span class="sort-icon up" onclick="sortTable(4, 'up')"
              >&#9650;</span
            >
            <span class="sort-icon down active" onclick="sortTable(4, 'down')"
              >&#9660;</span
            >
          </th>
          <th>
            Father's Name
            <span class="sort-icon up" onclick="sortTable(5, 'up')"
              >&#9650;</span
            >
            <span class="sort-icon down active" onclick="sortTable(5, 'down')"
              >&#9660;</span
            >
          </th>
          <th>
            Mother's Name
            <span class="sort-icon up" onclick="sortTable(6, 'up')"
              >&#9650;</span
            >
            <span class="sort-icon down active" onclick="sortTable(6, 'down')"
              >&#9660;</span
            >
          </th>
          <th></th>
          <th></th>
        </tr>
        {% for row in data %}
        <tr>
          <td>
            <input
              type="checkbox"
              name="selected_checkboxes"
              value="{{ row[0] }}"
            />
          </td>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td><a href="javascript:void(0);" onclick="submitForm1('{{row[0]}}')">View</a></td>
          <td><a href="javascript:void(0);" onclick="submitForm('{{row[0]}}')">Edit</a></td>
        </tr>
        {% endfor %}
      </table>

      <input type="submit" name="action" value="PopUp" />
      <input type="button" id="messageButton" value="Message" />
      <input
        type="button"
        onclick="downloadTableAsCSV('admin-table')"
        value="Download"
      />
      <input type="submit" name="action" value="Remove" />
      

      <div id="messageModal" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeMessageModal()">&times;</span>
          <textarea
            id="messageInput"
            name="message"
            placeholder="Type your message here"
          ></textarea>
          <input id="sendButton" type="submit" name="action" value="Send" />
        </div>
      </div>
    </form>
    <form id="editForm" action="/edit" method="post" style="display: none;">
      <input type="hidden" name="form_id" id="formIdInput" value="">
    </form>
    <form id="viewForm" action="/view" method="post" style="display: none;">
      <input type="hidden" name="form_id" id="formIdInput1" value="">
    </form>
  </body>

  <script>
    function downloadTableAsCSV(tableId) {
      // Get the table by its ID
      const table = document.getElementById(tableId);

      // Create an empty CSV string
      let csv = "";

      // Loop through the table rows
      const rows = table.querySelectorAll("tr");
      rows.forEach((row) => {
        const rowData = [];
        row.querySelectorAll("th, td").forEach((cell) => {
          rowData.push(cell.textContent);
        });
        csv += rowData.join(",") + "\n";
      });

      // Create a Blob containing the CSV data
      const blob = new Blob([csv], { type: "text/csv" });

      // Create a download link
      const a = document.createElement("a");
      a.href = window.URL.createObjectURL(blob);
      a.download = "table.csv";
      a.style.display = "none";

      // Append the download link to the body and trigger the download
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    }

    function selectAllCheckboxes() {
      var checkboxes = document.getElementsByName("selected_checkboxes");
      var selectAllCheckbox = document.getElementById("selectAll");

      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = selectAllCheckbox.checked;
      }
    }

    document.getElementById("messageButton").onclick = function () {
      document.getElementById("messageModal").style.display = "block";
    };

    function closeMessageModal() {
      document.getElementById("messageModal").style.display = "none";
    }

    document.getElementById("sendButton").onclick = function () {
      var message = document.getElementById("messageInput").value;

      // Validate the message
      if (!message) {
        document.getElementById("messageError").textContent =
          "Message cannot be empty.";
        return false; // Prevent form submission
      }

      // Clear any previous error message
      document.getElementById("messageError").textContent = "";

      // You can process or send the message here
      alert("Message sent: " + message);
      closeMessageModal();
    };

    var sortingOrder = {
      columnIndex: -1, // Initial value to indicate no sorting
      ascending: true, // Default sorting order is ascending
    };

    function sortTable(columnIndex, direction) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.querySelector("table");
      switching = true;

      // Reset the sorting icons in all columns
      table.rows[0].querySelectorAll(".sort-icon").forEach(function (el) {
        el.classList.remove("active");
      });

      // Determine the sorting direction
      if (direction === "up") {
        sortingOrder.ascending = true;
      } else if (direction === "down") {
        sortingOrder.ascending = false;
      }

      // Set the sorting icons for the clicked column
      var sortIconUp =
        table.rows[0].querySelectorAll(".sort-icon.up")[columnIndex];
      var sortIconDown =
        table.rows[0].querySelectorAll(".sort-icon.down")[columnIndex];
      sortIconUp.classList.toggle("active", sortingOrder.ascending);
      sortIconDown.classList.toggle("active", !sortingOrder.ascending);

      while (switching) {
        switching = false;
        rows = table.rows;
        shouldSwitch = false;

        for (i = 1; i < rows.length - 1; i++) {
          x = rows[i].getElementsByTagName("td")[columnIndex];
          y = rows[i + 1].getElementsByTagName("td")[columnIndex];

          var xValue = x.textContent.toLowerCase();
          var yValue = y.textContent.toLowerCase();

          if (
            (xValue > yValue && sortingOrder.ascending) ||
            (xValue < yValue && !sortingOrder.ascending)
          ) {
            shouldSwitch = true;
            break;
          }
        }

        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    }

    function submitForm(formId) {
      // Set the form_id value in the hidden input
      document.getElementById("formIdInput").value = formId;

      // Submit the form
      document.getElementById("editForm").submit();
    }
    function submitForm1(formId) {
      // Set the form_id value in the hidden input
      document.getElementById("formIdInput1").value = formId;

      // Submit the form
      document.getElementById("viewForm").submit();
    }
  </script>
</html>
